@font-face {
  font-family: 'InterRegular';
  src: url('http://cdn.bornsite.ru/fonts/Inter_28pt-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.about {
  background-color: #f7f4e9;
  width: 100%;
  min-height: 60vh;
  position: relative;
  padding: 2rem 4rem;
}

.about-title {
  font-size: 6rem;
  color: rgba(232, 0, 0);
  text-align: left;
  margin-left: 5%;
  margin-bottom: 1%;
  font-family: 'TekturBold', serif;
}

.about-description {
  text-align: left;
  font-family: 'InterRegular', serif;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 180%;
  max-width: 50%;
}

.about-card {
  background-size: cover;
  background-position: center;
}

.about-card-1 {
  background-image: url('http://cdn.bornsite.ru/static/bomj1.jpg');
}

.about-card-2 {
  background-image: url('http://cdn.bornsite.ru/static/bomj2.jpg');
}

.about-card-3 {
  background-image: url('http://cdn.bornsite.ru/static/bomj3.jpg');
}
